:is(.foxy, .fennecs).foxy-fade-in .foxy-departed
{
	z-index: 0;
	opacity: 1;
	visibility: visible;
}

@keyframes foxy-fade-in-current
{
	0%
	{
		opacity: 0;
		visibility: hidden;
	}
	
	100%
	{
		opacity: 1;
		visibility: visible;
	}
}

:is(.foxy, .fennecs).foxy-fade-in .foxy-current
{
	animation-name: foxy-fade-in-current;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

:is(.foxy, .fennecs).foxy-fade-in :is(.foxy-arrows, .foxy-bullets)
{
	opacity: 1;
	z-index: 2;
}