@keyframes foxy-fade-departed
{
	0%
	{
		opacity: 1;
		visibility: visible;
	}
	
	100%
	{
		opacity: 0;
		visibility: hidden;
	}
}

:is(.foxy, .fennecs).foxy-fade .foxy-departed
{
	animation-name: foxy-fade-departed;
	visibility: hidden;
	z-index: 0;
}

@keyframes foxy-fade-current
{
	0%
	{
		opacity: 0;
		visibility: hidden;
	}
	
	100%
	{
		opacity: 1;
		visibility: visible;
	}
}

:is(.foxy, .fennecs).foxy-fade .foxy-current
{
	animation-name: foxy-fade-current;
	visibility: visible;
	z-index: 1;
}

:is(.foxy, .fennecs).foxy-fade :is(.foxy-arrows, .foxy-bullets)
{
	opacity: 1;
	z-index: 2;
}