:is(.foxy, .fennecs).foxy-slide
{
	overflow: hidden;
}

:is(.foxy, .fennecs).foxy-slide :is(.foxy-departed, .foxy-current)
{
	visibility: visible;
}

@keyframes foxy-slide-departed-forward
{
	0%
	{
		transform: none;
	}
	
	100%
	{
		transform: translateX(calc(var(--full-width) * -1 - var(--slide-gap)));
	}
}

:is(.foxy, .fennecs).foxy-slide.foxy-direction-forward .foxy-departed
{
	animation-name: foxy-slide-departed-forward;
	transform: translateX(calc(var(--full-width) * -1 - var(--slide-gap)));
}

@keyframes foxy-slide-departed-backward
{
	0%
	{
		transform: none;
	}
	
	100%
	{
		transform: translateX(calc(var(--full-width) + var(--slide-gap)));
	}
}

:is(.foxy, .fennecs).foxy-slide.foxy-direction-backward .foxy-departed
{
	animation-name: foxy-slide-departed-backward;
	transform: translateX(calc(var(--full-width) + var(--slide-gap)));
}

@keyframes foxy-slide-current-forward
{
	0%
	{
		transform: translateX(calc(var(--full-width) + var(--slide-gap)));
	}
	
	100%
	{
		transform: none;
	}
}

:is(.foxy, .fennecs).foxy-slide.foxy-direction-forward .foxy-current
{
	animation-name: foxy-slide-current-forward;
}

@keyframes foxy-slide-current-backward
{
	0%
	{
		transform: translateX(calc(var(--full-width) * -1 - var(--slide-gap)));
	}
	
	100%
	{
		transform: none;
	}
}

:is(.foxy, .fennecs).foxy-slide.foxy-direction-backward .foxy-current
{
	animation-name: foxy-slide-current-backward;
}

:is(.foxy, .fennecs) :is(.foxy-arrows, .foxy-bullets)
{
	position: static;
}

:is(.foxy, .fennecs).foxy-slide:where(.foxy-vertical) .foxy-bullets
{
	right: 0;
	position: absolute;
	left: auto;
}