:is(.foxy, .fennecs)
{
	--animation-speed: 1s;
	--drag-multiplier: 0;
	--animation-delay: calc(var(--animation-speed) * var(--drag-multiplier) * -1);
	--full-height: 100%;
	--full-width: 100%;
	--columns-layout: [slide-start arrows-start bullets-start] 100% [slide-end arrows-end bullets-end];
	--rows-layout: [slide-start] 1fr [arrows-start] auto [arrows-end] 1fr [slide-end bullets-start] auto [bullets-end];
    --slide-gap: 0px;
	display: grid;
	grid-template-columns: var(--columns-layout);
	grid-template-rows: var(--rows-layout);
	position: relative;
	touch-action: pan-y;
}

:is(.foxy, .fennecs):where(.foxy-vertical)
{
	grid-template-columns: var(--rows-layout);
	grid-template-rows: var(--columns-layout);
	touch-action: pan-x;
}

:is(.foxy, .fennecs).inline-foxy
{
	display: inline-grid;
}

:is(.foxy, .fennecs) > *
{
	animation-delay: var(--animation-delay);
	animation-duration: var(--animation-speed);
	animation-fill-mode: both;
	grid-column: slide;
	grid-row: slide;
	visibility: hidden;
}

/* Foxy's centre alignment is generally useful, but sometimes we don't want to have to reset alignment on everything */
:is(.foxy, .fennecs):where(:not(.foxy-custom-alignment)) > *
{
	align-self: center;
	justify-self: center;
}
	
/* This is used during the first slide, to prevent the animation from playing on startup */
:is(.foxy, .fennecs).foxy-no-animation > *
{
	animation: none !important;
}

:is(.foxy, .fennecs).foxy-dragging > *
{
	animation-play-state: paused;
}

:is(.foxy, .fennecs):not(.foxy-initialised) > *:first-child
{
	visibility: visible;
}
	
/* Extra specificity to override animation variants */
:is(.foxy, .fennecs):is(.foxy, .fennecs) :is(.foxy-arrows, .foxy-bullets)
{
	visibility: visible;
}

:is(.foxy, .fennecs) .foxy-arrows
{
	box-sizing: border-box;
	display: flex;
	grid-column: arrows;
	grid-row: arrows;
	justify-content: space-between;
	pointer-events: none;
	position: relative;
}

:is(.foxy, .fennecs, .fox-parade):where(:not(.foxy-vertical)) .foxy-arrows
{
	padding: 0 20px;
	width: 100%;
}

:is(.foxy, .fennecs, .fox-parade):where(.foxy-vertical) .foxy-arrows
{
	flex-direction: column;
	height: 100%;
	padding: 20px 0;
}

:is(.foxy, .fennecs, .fox-parade) .foxy-arrow
{
	align-items: center;
	appearance: none;
	background: #fff;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	font-size: 0;
	height: 30px;
	justify-content: center;
	overflow: hidden;
	pointer-events: auto;
	padding-top: 7px;
	text-indent: -9999px;
	transform: translateY(-50%);
	width: 30px;
}

:is(.foxy, .fennecs, .fox-parade) .foxy-arrow:hover
{
	background: #ddd;
}

:is(.foxy, .fennecs, .fox-parade) .foxy-arrow[disabled]
{
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}

:is(.foxy, .fennecs, .fox-parade) .foxy-arrow:after
{
	border: solid #000;
	border-radius: 1px;
	border-width: 2px 2px 0 0;
	content: "";
	display: block;
	height: 10px;
	transform: rotate(-45deg);
	width: 10px;
}

:is(.foxy, .fennecs, .fox-parade) .foxy-prev
{
	transform: rotate(-90deg);
}

:is(.foxy, .fennecs, .fox-parade):where(.foxy-vertical) .foxy-prev
{
	transform: rotate(0);
}

:is(.foxy, .fennecs, .fox-parade) .foxy-next
{
	transform: rotate(90deg);
}

:is(.foxy, .fennecs, .fox-parade):where(.foxy-vertical) .foxy-next
{
	transform: rotate(180deg);
}

:is(.foxy, .fennecs) .foxy-bullets
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-column: bullets;
	grid-row: bullets;
	margin: 10px 0;
	padding: 0;
}

:is(.foxy, .fennecs):where(.foxy-vertical) .foxy-bullets
{
	flex-direction: column;
}

:is(.foxy, .fennecs) .foxy-bullet-item
{
	display: block;
	margin: 0 5px;
}

:is(.foxy, .fennecs) .foxy-bullet
{
	background: #fff;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	height: 10px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	transition: background 0.2s;
	width: 10px;
}

:is(.foxy, .fennecs) .foxy-active .foxy-bullet
{
	background: #aaa;
}