.fennecs
{
	--rows: 1;
}

.fennecs:where(:not(.foxy-vertical))
{
	grid-template-rows: repeat(var(--rows), auto);
}

.fennecs:where(.foxy-vertical)
{
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--rows), auto);
}

.fennecs:where(.foxy-has-bullets:not(.foxy-vertical))
{
	grid-template-rows: repeat(var(--rows), auto) auto;
}

.fennecs:where(.foxy-has-bullets.foxy-vertical)
{
	grid-template-columns: repeat(var(--rows), auto) auto;
}

.fennecs > *
{
	--row: auto;
	--column: auto;
	
	grid-column: var(--column);
	grid-row: var(--row);
	visibility: visible;
}

.fennecs:where(.foxy-vertical) > *
{
	grid-column: var(--row);
	grid-row: var(--column);
}

.fennecs.foxy-initialised > *
{
	visibility: hidden;
}

.fennecs .foxy-arrows
{
	align-self: center;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}

.fennecs:where(:not(.foxy-vertical)) .foxy-bullets
{
    grid-column: 1 / -1;
    grid-row: calc(var(--rows) + 1);
}

.fennecs:where(.foxy-vertical) .foxy-bullets
{
    grid-column: calc(var(--rows) + 1);
    grid-row: 1 / -1;
}