.fox-parade
{
	--inner-width: 0;
	--inner-height: 0;
	
	display: flex;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	position: relative;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.fox-parade:where(.foxy-vertical)
{
	overflow-x: visible;
	overflow-y: scroll;
}

.fox-parade::-webkit-scrollbar
{
	height: 0;
	width: 0;
}

.fox-parade > *
{
	flex-shrink: 0;
	scroll-snap-align: center;
}

/* Fox parade's centre alignment is generally useful, but sometimes we don't want to have to reset alignment on everything */
.fox-parade:where(:not(.foxy-custom-alignment)) > *
{
	align-self: center;
}

.fox-parade .foxy-arrows
{
	display: flex;
	height: auto;
	justify-content: space-between;
	left: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: var(--inner-width);
}

.fox-parade:where(.foxy-vertical) .foxy-arrows
{
	flex-direction: column;
	height: var(--inner-height);
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: auto;
}

.fox-parade .foxy-arrow
{
	position: sticky;
}

.fox-parade .foxy-prev
{
	left: 20px;
	top: 20px;
}

.fox-parade .foxy-next
{
	bottom: 20px;
	right: 20px;
}