:root
{
	--brown: #824300;
	--orange: #ed960b;
	--cream: #ece1cb;
	--black: #1b0c04;
}

body
{
	background: var(--cream);
	color: var(--black);
	display: grid;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.25;
	margin: 0;
}

h2,
h3
{
	color: var(--black);
}

h2:before
{
	content: "🦊 "
}

h2.fennecs-heading:before
{
	content: "🦊🦊🦊 ";
	font-size: 0.5em;
}

h2:after,
h3:after
{
	background: var(--orange);
	content: "";
	display: block;
	margin-top: 5px;
	height: 2px;
	width: 40px;
}

h2:after
{
	margin-left: 1.4em;
}

h2.fennecs-heading:after
{
	margin-left: 2.3em;
}

a
{
	color: color-mix(in lch, var(--orange), var(--brown));
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

code
{
	break-inside: avoid;
	color: var(--brown);
}

code.word
{
	white-space: nowrap;
}

abbr
{
	border-bottom: 1px dotted currentColor;
}

.container
{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	width: calc(100vw - 40px);
}

header
{
	background: var(--brown);
	color: var(--cream);
}

nav
{
	background: var(--cream);
	border: 1px solid var(--brown);
	padding: 20px;
	width: max-content;
}

nav ul
{
	margin: 0;
}

nav a
{
	color: var(--brown);
}

section
{
	background: rgba(196, 101, 0, 0.1);
	padding-bottom: 20px;
	padding-top: 20px;
}

section:nth-of-type(2n)
{
	background: transparent;
}

.examples
{
	background: var(--brown);
	box-sizing: border-box;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 420px), 1fr));
	padding: 20px;
}

.example
{
	align-items: center;
	background: var(--cream);
	padding: 10px;
	text-align: center;
}

.fennecs-example
{
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}

.fennecs-example .fennecs,
.fennecs-example .fox-parade
{
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 420px), 1fr));
}

.big-slide
{
	height: 200px;
	width: min(400px, calc(100vw - 100px));
}

.small-slide
{
	height: 100px;
	width: 100px;
}

.orange-slide
{
	background: var(--orange);
}

.black-slide
{
	background: var(--black);
}

img
{
	height: auto;
	max-width: 100%;
}

.example h3:after
{
	display: none;
}

.example code
{
	background: var(--brown);
	border-left: 10px solid var(--orange);
	color: var(--cream);
	display: block;
	margin: 10px 0;
	padding: 10px 10px 10px calc(10px + 2em);
	text-align: left;
	text-indent: -2em;
}

.example code span
{
	display: block;
	text-indent: -2em;
}

.note
{
	font-size: 13px;
}

.description dt
{
	font-weight: bold;
}

.description dd
{
	margin-bottom: 10px;
}